@mixin btn() {
    flex: 1;
    border: 0;
    padding: 20px 30px;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    font-size: 1.2rem;

    &Group {
        display: flex;
        flex-direction: row;

        & button:first-child {
            border-right: none;
            border-top-left-radius: $btn-radius-large;
            border-bottom-left-radius: $btn-radius-large;
        }

        & button:last-child {
            border-top-right-radius: $btn-radius-large;
            border-bottom-right-radius: $btn-radius-large;
        }
    }

    &__success {
        color: $white;
        background: $color-success;
        border: 1px solid darken($color-success, 30%);

        &.active {
            background: darken($color-success, 30%);
            border: 1px solid darken($color-success, 45%);
        }
    }

    &__primary {
        color: $white;
        background: $blue;
        border: 1px solid darken($blue, 30%);

        &.active {
            background: darken($blue, 30%);
            border: 1px solid darken($blue, 45%);
        }
    }

    &__danger {
        color: $white;
        background: $color-danger;
        border: 1px solid darken($color-danger, 30%);

        &.active {
            background: darken($color-danger, 30%);
            border: 1px solid darken($color-danger, 45%);
        }
    }
}

@mixin formElement() {
    padding: 10px 15px;
    box-sizing: border-box;
    color: $grey-medium;
    border: 1px solid $grey-medium;
    transition: 0.25s all ease-in;

    &[disabled] {
        cursor: not-allowed;
        color: $grey-medium-dark;
        border: 1px solid $grey-light;

        &:hover {
            border: 1px solid #ecbdbd;
        }
    }

    &:hover {
        color: darken($grey-medium, 20%);
        border: 1px solid darken($grey-medium, 20%);
    }

    &:focus {
        outline: none;
        color: $blue;
        border: 1px solid $blue;
    }
}
