@mixin btn() {
    flex: 1;
    border: 0;
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    font-size: 1.2rem;

    &Group {
        display: flex;
        flex-direction: row;

        & button:first-child {
            border-right: none;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
        }

        & button:last-child {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
        }
    }

    &__more-padding {
        padding: 10px 40px;
    }

    &__rounded-corners {
        border-radius: 100px;
    }

    &__transparent {
        color: $white;
        font-weight: 600;
        font-size: 1.6rem;
        background: transparent;
        border: 3px solid $white;
        font-family: trumpgothicpro, sans-serif;

        &:hover {
            background: rgba(255,255,255, .2);
            text-decoration: none;
        }
    }

    &__success {
        color: $white;
        background: #beffca;
        border: 1px solid darken(#beffca, 30%);

        &.active {
            background: darken(#beffca, 30%);
            border: 1px solid darken(#beffca, 45%);
        }
    }

    &__primary {
        color: $white;
        background: $blue;
        border: 1px solid darken($blue, 30%);

        &.active {
            background: darken($blue, 30%);
            border: 1px solid darken($blue, 45%);
        }
    }

    &__danger {
        color: $white;
        background: #FFA39C;
        border: 1px solid darken(#FFA39C, 30%);

        &.active {
            background: darken(#FFA39C, 30%);
            border: 1px solid darken(#FFA39C, 45%);
        }
    }
}

@mixin formElement() {
    font-size: 1rem;
    padding: 10px 15px;
    box-sizing: border-box;
    color: $grey-medium;
    border: 1px solid $grey-medium;
    transition: 0.25s all ease-in;

    &[disabled] {
        cursor: not-allowed;
        color: $grey-medium-dark;
        border: 1px solid $grey-light;

        &:hover {
            border: 1px solid #ecbdbd;
        }
    }

    &:hover {
        color: darken($grey-medium, 20%);
        border: 1px solid darken($grey-medium, 20%);
    }

    &:focus {
        outline: none;
        color: $blue;
        border: 1px solid $blue;
    }
}
