// main color palette
$black: #000;
$grey: #333;
$blue: #7f93ac;
$white: #fff;
$petal: #ffebde;

$white-grey: #f5f5f5;
$grey-light: #eee;
$grey-medium: #ccc;
$grey-medium-dark: #aaa;
$grey-dark: #333;
