// main color palette
$blue: #3a4362;
$blue-off: #acb4b7;
$pink: #d5b8ba;
$pink-grey: #c7bdbe;

$white: #fff;
$white-grey: #f5f5f5;
$grey-light: #eee;
$grey-medium: #ccc;
$grey-medium-dark: #aaa;
$grey: #666;
$grey-dark: #333;
