.GuestList {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    &__wrapper {
        position: relative;
    }

    table {
        width: 100%;
    }

    &__item {
        &:nth-child(even) {
            background: $white-grey;
        }

        &:hover {
            background: #ddd;
        }

        &--header {
            background: #eee;
        }

        &--column {
            text-align: left;
            font-size: 1rem;
            padding: 10px 15px;
        }
    }
}

.filters {
    background: #f5f5f5;
    width: fit-content;
    margin-bottom: 20px;

    &__column {
        display: inline-block;
        padding: 10px 15px;

        &.active {
            background: #666;
            color: #fff;
        }
    }
}
